<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width,user-scalable=no,initial-scale=1.0,maximum-scale=1.0,minimum-scale=1.0">
  <title>南京又正科技有限公司</title>
  <link rel="stylesheet" href="layui/css/layui.css">
  <link rel="stylesheet" href="static/css/index.css">
</head>
<body>
  <!-- nav部分 -->
  <div class="nav">
    <div class="layui-container">
      <!-- 公司logo -->
      <div class="nav-logo">
        <a href="index.html">
          <img src="static/img/又正科技.png" alt="又正科技">
        </a>
      </div>
      <div class="nav-list">
        <button>
          <span></span><span></span><span></span>
        </button>
        <ul class="layui-nav" lay-filter="">
          <li class="layui-nav-item"><a href="index.html">首页</a></li>
          <li class="layui-nav-item"><a href="product.html">产品</a></li>
          <li class="layui-nav-item"><a href="news.html">动态</a></li>
          <li class="layui-nav-item"><a href="case.html">案例</a></li>
          <li class="layui-nav-item layui-this"><a href="about.html">关于</a></li>
        </ul>
      </div>
    </div>
  </div>
  <!-- banner部分 -->
  <div class="banner about">
    <div class="title">
      <p>关于我们</p>
      <p class="en">About Us</p>
    </div>
  </div>
  <!-- main部分 -->
  <div class="main-about">
    <div class="layui-container">
      <div class="layui-row">
        <ul class="aboutab">
          <li class="layui-this">公司简介</li><li>招贤纳士</li><li>发展历程</li>
        </ul>
        <div class="tabIntro">
          <div class="content">
            <div class="layui-inline img"><img src="static/img/us_img1.jpg"></div><div class="layui-inline panel">
              <p>身处在智慧城市的繁荣之下，我们都在有意或无意地追逐。而 又正科技 致力于物联网平台的设计研发,自主研究出智能电气运维点检系统、综合能源管理系统、安全用电管理系统、智能环保监测系统等智能产品。</p>
            </div>
          </div>
          <div class="content">
            <div class="layui-inline panel p_block">
              <p>如果眼下还是一团零星之火，那运筹帷幄之后，迎面东风，就是一场烈焰燎原吧，那必定会是一番尽情的燃烧。待，秋风萧瑟时，散作满天星辰，你看那四季轮回，正是又正科技不灭的执念。</p>
            </div><div class="layui-inline img"><img src="static/img/us_img2.jpg"></div>
              <p class="p_hidden">如果眼下还是一团零星之火，那运筹帷幄之后，迎面东风，就是一场烈焰燎原吧，那必定会是一番尽情的燃烧。待，秋风萧瑟时，散作满天星辰，你看那四季轮回，正是又正科技不灭的执念。</p>
          </div>
          <div class="content">
            <div class="layui-inline img"><img src="static/img/us_img3.jpg"></div><div class="layui-inline panel">
              <p>目前公司的业务网络覆盖全国半数以上的省市,成为集成设计,研发,生产,销售,服务为一体的综合性高新技术企业,安徽金叶数字科技一直致力成为国内智慧科技领域的领导者,打造具有行业竞争优势的企业价值链。</p>
            </div>
          </div>         
        </div>
        <div class="tabJob">
          <div class="content">
            <p class="title">前端开发工程师</p>
            <p>> 职位描述</p>
            <ol>
              <li>参与产品需求、研发设计的相关讨论,从前端设计角度提升产品使用性和美观度的要求；</li>
              <li>负责网页前端开发工作,实现产品所需的交互效果；</li>
              <li>API对接、设计,数据处理、格式化。</li>
            <p>> 任职要求</p>
            <ol>
              <li>对HTML、CSS、JavaScript等前端开发技术有扎实的基础,熟悉ES6语法；</li>
              <li>熟悉react,vue等主流框架其中的一项或多项；</li>
              <li>熟悉mysql、mongodb等数据库,熟练使用svn、git管理工具;</li>
              <li>扎实计算机编程基础,思维严谨,具有较强的分析和解决问题的能力；</li>
              <li>有java,php语言开发经验者优先。</li>
            </ol>
          </div>
          <div class="content">
            <p class="title">.NET开发工程师</p>
            <p>> 职位描述</p>
            <ol>
              <li>理解业务需求,并参与业务流程与部分功能界面的设计；</li>
              <li>遵守开发规范的要求,主动进行单元测试,保障开发质量；</li>
              <li>完成模块文档、示例的编写,提高模块的性能及通用性,主动分享技术及工作经验；</li>
              <li>独立完成后段模块或接口的开发工作,如编写符合RESTful风格的API、windows值守服务、数据采集程序。</li>
            </ol>
            <p>> 任职要求</p>
            <ol>
              <li>熟悉掌握C#语言及.NET框架平台机制,了解3.5以上常用新特性；</li>
              <li>熟悉三层架构,ORM、MVC等主流框架,了解MVC内部机制,理解HTTP协议及RESTful架构风格；</li>
              <li>熟悉SQL Server等关系型数据库,掌握增删改查、存储过程、触发器等基本操作；</li>
              <li>熟练操作VS、SVN等开发工具;</li>
              <li>了解HTML、CSS、JavaScript等基础前端知识。</li>
            </ol>
          </div>
          <div class="content">
            <p class="title">JAVA 工程师</p>
            <p>> 职位描述</p>
            <ol>
              <li>负责APP和Web项目和后端各服务组件的技术需求分析、功能开发、业务维护；</li>
              <li>根据需求反馈,新增或优化工程组件,并协助测试工程师完成产品测试相关工作；</li>
              <li>负责对以往业务代码的梳理、整合及优化,并及时更新相关技术文档；</li>
              <li>负责Java开发相关的技术文档、技术手册的编写和维护。</li>
            </ol>
             <p>> 任职要求</p>
            <ol>
              <li>计算机或相关专业；</li>
              <li>熟悉Java开发语言,使用过常用的J2EE开发框架,如SpringBoot、Spring MVC、Mybatis等；</li>
              <li>熟悉常用的软件设计模式、数据结构,具备扎实的编程基本功和良好的编程习惯；</li>
              <li>熟悉常用的关系数据库、NoSQL数据库,如MySQL、HBase、MongoDB；</li>
              <li>熟悉常用的数据缓存技术,如Redis、Memcache等；</li>
              <li>了解前端开发相关技术,如HTML/CSS/JS等。</li>
            </ol>
          </div>
        </div>
        <div class="tabCour">
          <p class="title">我们的蜕变</p>
          <ul class="timeline">
            <li class="odd">
              <div class="cour-img"><img src="static/img/us_img4.png"></div>
              <div class="cour-panel layui-col-sm4 layui-col-lg5">
                <p class="label">2018 年 9 月</p>
                <p>我们成立了，来到了南京这个美丽的地方。</p>
              </div>
            </li>
            <li>
              <div class="cour-img"><img src="static/img/us_img5.png"></div>
              <div class="cour-panel layui-col-sm4 layui-col-sm-offset8 layui-col-lg5 layui-col-lg-offset7">
                <p class="label">2018 年 10月</p>
                <p>我们成功拿下一个项目。</p>
              </div>
            </li>
            <li class="odd">
              <div class="cour-img"><img src="static/img/us_img6.png"></div>
              <div class="cour-panel layui-col-sm4 layui-col-lg5">
                <p class="label">2019 年 9 月</p>
                <p>一年的时间里,我们完成了从最初的小公司到准备开分公司的蜕变。</p>
              </div>
            </li>
            <li>
              <div class="cour-img"><img src="static/img/us_img7.png"></div>
              <div class="cour-panel layui-col-sm4 layui-col-sm-offset8 layui-col-lg5 layui-col-lg-offset7">
                <p class="label">2020 年 3 月</p>
                <p>我们的分公司成立了,定位在诗城马鞍山这个文明的城市中。</p>
              </div>
            </li>
            <li class="odd">
              <div class="cour-img"><img src="static/img/us_img8.png"></div>
            </li>
          </ul>
        </div>
      </div>
    </div>
  </div>
  <!-- footer部分 -->
  <div class="footer">
    <div class="layui-container">
      <p class="footer-web">
        <a href="javascript:;">产品中心</a>
        <a href="javascript:;">方案定制</a>
        <a href="javascript:;">服务支持</a>
        <a href="javascript:;">关于我们</a>
        <a href="javascript:;">成功案例</a>
        <a href="javascript:;">联系我们</a>
      </p>
      <div class="layui-row footer-contact">
        <div class="layui-col-sm2 layui-col-lg1"><img src="static/img/erweima.jpg"></div>
        <div class="layui-col-sm10 layui-col-lg11">
          <div class="layui-row">
            <div class="layui-col-sm6 layui-col-md8 layui-col-lg9">
              <p class="contact-top"><i class="layui-icon layui-icon-cellphone"></i>&nbsp;13347839201/13965623252&nbsp;&nbsp;(9:00-18:00)</p>
             <p class="contact-bottom"><span class="right">公司分址&nbsp;&nbsp;马鞍山市&nbsp;&nbsp;花山区&nbsp;金色新天地3栋613</span></p>
            </div>
            <div class="layui-col-sm6 layui-col-md4 layui-col-lg3">
             <p class="contact-bottom"><i class="layui-icon layui-icon-home"></i>&nbsp;hcd.7401@163.com</span></p>
            <p class="contact-bottom"><span class="right">公司地址&nbsp;&nbsp;南京市&nbsp;&nbsp;建邺区&nbsp;云锦路58号</span></p>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
<script src="layui/layui.js"></script>
<!--[if lt IE 9]>
  <script src="https://cdn.staticfile.org/html5shiv/r29/html5.min.js"></script>
  <script src="https://cdn.staticfile.org/respond.js/1.4.2/respond.min.js"></script>
<![endif]-->
<script>
  layui.config({
    base: 'static/js/'
  }).use('firm'); 
</script>
</body>
</html>