<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width,user-scalable=no,initial-scale=1.0,maximum-scale=1.0,minimum-scale=1.0">
  <title>又正科技-产品详情页</title>
  <link rel="stylesheet" href="layui/css/layui.css">
  <link rel="stylesheet" href="static/css/index.css">
</head>
<body>
  <!-- nav部分 -->
  <div class="nav">
    <div class="layui-container">
      <!-- 公司logo -->
      <div class="nav-logo">
        <a href="index.html">
          <img src="static/img/又正科技.png" alt="又正科技">
        </a>
      </div>
      <div class="nav-list">
        <button>
          <span></span><span></span><span></span>
        </button>
        <ul class="layui-nav" lay-filter="">
          <li class="layui-nav-item"><a href="index.html">首页</a></li>
          <li class="layui-nav-item layui-this"><a href="product.html">产品</a></li>
          <li class="layui-nav-item"><a href="news.html">动态</a></li>
          <li class="layui-nav-item"><a href="case.html">案例</a></li>
          <li class="layui-nav-item"><a href="about.html">关于</a></li>
        </ul>
      </div>
    </div>
  </div>
  <!-- main部分 -->
  <div class="main-newsdate">
    <div class="layui-container">
       <div class="pro-c aos-init aos-animate" aos="fade-up" aos-delay="100">
            <div class="pro-detop clear">
                <div class="pic">
                    <img src="static/img/设备产品.jpg" class="cen">
                </div>
                <div class="font">
                    <div class="zi">
                        <div class="ti">设备监测诊断系统</div>
                        <div class="de">
                           设备温度等实时采集显示                        </div>
                    </div>

                </div>
            </div>
            <div class="pro-dezi">
                <div class="zia-box">
                    <a href="javascript:;" class="act">功能介绍</a>
                </div>
                <div class="font" style="display: block;">
                <p align="left"><span style="font-family: Wingdings;font-size: 14px">Ø&nbsp;传统监测与互联网＋结合<li align="left">监测技术主要有两项职责，一方面，通过自动监测技术可以直接得出被监测对象的数值及其变化趋势等内容；另一方面，将自动监测技术直接测得的被监测对象的信息纳入考虑范围，从而制定相关决策。</li></span></p>
                <p align="left"><span style="font-family: Wingdings;font-size: 14px">Ø&nbsp;异常位置定位＋处理建议<li align="left">基于自适应信息融合跟踪检测的物联网异常节点定位算法.首先构建物联网节点之间通信传输信道模型,采用载波调制方法进行信道特征参量估计.然后利用自适应信息融合跟踪检测算法进行节点异常特征提取和检测,实现异常节点信息融合和滤波,通过接收端进行连续检测,实现异常节点的自适应分辨和定位。</li></span></p>
                <p align="left"><span style="font-family: Wingdings;font-size: 14px">Ø&nbsp;随时随地查看设备运行信息<li align="left">实时掌握生产线各工位的计划目标与实际产量数据，工位故障记录；从而获得各种生产技术指标，如：开机率、故障率、合格率、达成率等；通过数据比对和趋势分析，全面掌握生产进度。</li></span></p>
                <p align="left"><span style="font-family: Wingdings;font-size: 14px">Ø&nbsp;异常预警、超限预警、报警推送<li align="left">对生产过程中的报警、生产隐患等事件实现在线监测，动态分级即时推送到不同的管理岗位，为安全隐患处理赢得时间，同时跟踪和监督事件的处理过程，强化对安全生产的分层管理，为保障安全生产、提高工厂本质安全提供技术支撑。</li></span></p>
                    
            </div>
        </div>
    </div>  
     <div class="two"><a href="product.html">
    <button class="btn_attention">返回</button></a></div>
    </div>
  </div>
  <!-- footer部分 -->
  <div class="footer">
    <div class="layui-container">
      <p class="footer-web">
        <a href="javascript:;">产品中心</a>
        <a href="javascript:;">方案定制</a>
        <a href="javascript:;">服务支持</a>
        <a href="javascript:;">关于我们</a>
        <a href="javascript:;">成功案例</a>
        <a href="javascript:;">联系我们</a>
      </p>
      <div class="layui-row footer-contact">
        <div class="layui-col-sm2 layui-col-lg1"><img src="static/img/erweima.jpg"></div>
        <div class="layui-col-sm10 layui-col-lg11">
          <div class="layui-row">
            <div class="layui-col-sm6 layui-col-md8 layui-col-lg9">
              <p class="contact-top"><i class="layui-icon layui-icon-cellphone"></i>&nbsp;13347839201/13965623252&nbsp;&nbsp;(9:00-18:00)</p>
             <p class="contact-bottom"><span class="right">公司分址&nbsp;&nbsp;马鞍山市&nbsp;&nbsp;花山区&nbsp;金色新天地3栋613</span></p>
            </div>
            <div class="layui-col-sm6 layui-col-md4 layui-col-lg3">
             <p class="contact-bottom"><i class="layui-icon layui-icon-home"></i>&nbsp;hcd.7401@163.com</span></p>
            <p class="contact-bottom"><span class="right">公司地址&nbsp;&nbsp;南京市&nbsp;&nbsp;建邺区&nbsp;云锦路58号</span></p>
              
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
<script src="layui/layui.js"></script>
<!--[if lt IE 9]>
  <script src="https://cdn.staticfile.org/html5shiv/r29/html5.min.js"></script>
  <script src="https://cdn.staticfile.org/respond.js/1.4.2/respond.min.js"></script>
<![endif]-->
<script>
  layui.config({
    base: 'static/js/'
  }).use('firm'); 
</script>

</body>

</html>