<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width,user-scalable=no,initial-scale=1.0,maximum-scale=1.0,minimum-scale=1.0">
  <title>又正科技-产品详情页</title>
  <link rel="stylesheet" href="layui/css/layui.css">
  <link rel="stylesheet" href="static/css/index.css">
</head>
<body>
  <!-- nav部分 -->
  <div class="nav">
    <div class="layui-container">
      <!-- 公司logo -->
      <div class="nav-logo">
        <a href="index.html">
          <img src="static/img/又正科技.png" alt="又正科技">
        </a>
      </div>
      <div class="nav-list">
        <button>
          <span></span><span></span><span></span>
        </button>
        <ul class="layui-nav" lay-filter="">
          <li class="layui-nav-item"><a href="index.html">首页</a></li>
          <li class="layui-nav-item layui-this"><a href="product.html">产品</a></li>
          <li class="layui-nav-item"><a href="news.html">动态</a></li>
          <li class="layui-nav-item"><a href="case.html">案例</a></li>
          <li class="layui-nav-item"><a href="about.html">关于</a></li>
        </ul>
      </div>
    </div>
  </div>
  <!-- main部分 -->
  <div class="main-newsdate">
    <div class="layui-container">
       <div class="pro-c aos-init aos-animate" aos="fade-up" aos-delay="100">
            <div class="pro-detop clear">
                <div class="pic">
                    <img src="static/img/能源产品.jpg" class="cen">
                </div>
                <div class="font">
                    <div class="zi">
                        <div class="ti">综合能源管理系统</div>
                        <div class="de">
                           采用分层分布式系统体系结构                        </div>
                    </div>

                </div>
            </div>
            <div class="pro-dezi">
                <div class="zia-box">
                    <a href="javascript:;" class="act">功能介绍</a>
                </div>
                <div class="font" style="display: block;">
                <p align="left"><span style="font-family: Wingdings;font-size: 14px">Ø&nbsp;能耗统计与分析 <li align="left">
对电量平衡分析、用水平衡分析、工序能耗、设备运行甘特图、设备相关性分析。掌控关键能耗与能源成本;拟定能源策略;提升能耗管理水平,数据精确，实时反馈；智能抄表，节约人力。</li></span></p>
                <p align="left"><span style="font-family: Wingdings;font-size: 14px">Ø&nbsp;实时监测<li align="left">又正科技能源管理平台支持Web浏览器，用户可通过智能设备实现可实时监视厂区各设备的运转状态及耗能状况，并具备实时警报功能，掌握异常用电情况。</li></span></p>
                                <p align="left"><span style="font-family: Wingdings;font-size: 14px">Ø&nbsp;自动抄表<li align="left">本系统利用微电子和计算机网络,采集、传感、传输等技术自动读取和处理表计数据,将城市居民的用水、电、气信息加以综合处理的系统。具有抄收速度快、计算精度高、抄表同时性好、可直接与营业计算机联网等突出的优点</li></span></p>
                    
            </div>
        </div>
    </div>  
     <div class="two"><a href="product.html">
    <button class="btn_attention">返回</button></a></div>
    </div>
  </div>
  <!-- footer部分 -->
  <div class="footer">
    <div class="layui-container">
      <p class="footer-web">
        <a href="javascript:;">产品中心</a>
        <a href="javascript:;">方案定制</a>
        <a href="javascript:;">服务支持</a>
        <a href="javascript:;">关于我们</a>
        <a href="javascript:;">成功案例</a>
        <a href="javascript:;">联系我们</a>
      </p>
      <div class="layui-row footer-contact">
        <div class="layui-col-sm2 layui-col-lg1"><img src="static/img/erweima.jpg"></div>
        <div class="layui-col-sm10 layui-col-lg11">
          <div class="layui-row">
            <div class="layui-col-sm6 layui-col-md8 layui-col-lg9">
              <p class="contact-top"><i class="layui-icon layui-icon-cellphone"></i>&nbsp;13347839201/13965623252&nbsp;&nbsp;(9:00-18:00)</p>
             <p class="contact-bottom"><span class="right">公司分址&nbsp;&nbsp;马鞍山市&nbsp;&nbsp;花山区&nbsp;金色新天地3栋613</span></p>
            </div>
            <div class="layui-col-sm6 layui-col-md4 layui-col-lg3">
             <p class="contact-bottom"><i class="layui-icon layui-icon-home"></i>&nbsp;hcd.7401@163.com</span></p>
            <p class="contact-bottom"><span class="right">公司地址&nbsp;&nbsp;南京市&nbsp;&nbsp;建邺区&nbsp;云锦路58号</span></p>
              
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
<script src="layui/layui.js"></script>
<!--[if lt IE 9]>
  <script src="https://cdn.staticfile.org/html5shiv/r29/html5.min.js"></script>
  <script src="https://cdn.staticfile.org/respond.js/1.4.2/respond.min.js"></script>
<![endif]-->
<script>
  layui.config({
    base: 'static/js/'
  }).use('firm'); 
</script>

</body>

</html>