<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width,user-scalable=no,initial-scale=1.0,maximum-scale=1.0,minimum-scale=1.0">
  <title>又正科技-产品详情页</title>
  <link rel="stylesheet" href="layui/css/layui.css">
  <link rel="stylesheet" href="static/css/index.css">
</head>
<body>
  <!-- nav部分 -->
  <div class="nav">
    <div class="layui-container">
      <!-- 公司logo -->
      <div class="nav-logo">
        <a href="index.html">
          <img src="static/img/又正科技.png" alt="又正科技">
        </a>
      </div>
      <div class="nav-list">
        <button>
          <span></span><span></span><span></span>
        </button>
        <ul class="layui-nav" lay-filter="">
          <li class="layui-nav-item"><a href="index.html">首页</a></li>
          <li class="layui-nav-item layui-this"><a href="product.html">产品</a></li>
          <li class="layui-nav-item"><a href="news.html">动态</a></li>
          <li class="layui-nav-item"><a href="case.html">案例</a></li>
          <li class="layui-nav-item"><a href="about.html">关于</a></li>
        </ul>
      </div>
    </div>
  </div>
  <!-- main部分 -->
  <div class="main-newsdate">
    <div class="layui-container">
       <div class="pro-c aos-init aos-animate" aos="fade-up" aos-delay="100">
            <div class="pro-detop clear">
                <div class="pic">
                    <img src="static/img/工厂产品.jpg" class="cen">
                </div>
                <div class="font">
                    <div class="zi">
                        <div class="ti">工厂安全预警系统</div>
                        <div class="de">
                           实时监测工厂各种设备                        </div>
                    </div>

                </div>
            </div>
            <div class="pro-dezi">
                <div class="zia-box">
                    <a href="javascript:;" class="act">功能介绍</a>
                </div>
                <div class="font" style="display: block;">
                <p align="left"><span style="font-family: Wingdings;font-size: 14px">Ø&nbsp;有毒有害气体监测 <li align="left">企业生产过程中急性中毒事故时有发生，许多作业场所有毒气体浓度大大超过国家规定标准，严重威胁作业人员的身体健康。为了控制有毒有害气体对作业人员健康的影响，采取有效措施控制有毒气体的危害，必须首先对作业场所空气中，以及排放到大气中的有毒有害气体的组成、性质、数量等进行检测、分析，根据气体检测仪分析结果，采取针对性的措施进行治理，有效地控制环境污染。</li></span></p>
                <p align="left"><span style="font-family: Wingdings;font-size: 14px">Ø&nbsp;可燃气体监测<li align="left">通过当地已有的蜂窝通信网络，以定时或事 件方式将可燃气体浓度信息、电池电量、异常信息等信息通过无线网络上 传至数据中心。结合系统软件，可实现对现场各监测点可燃气体浓度信息 的统计、査询、备份等维护作业。</li></span></p>
                <p align="left"><span style="font-family: Wingdings;font-size: 14px">Ø&nbsp;压力监测<li align="left">所监测的参数在平台上集成显示,并能动态显示相关曲线,同时监测参数通过通信模块传送到远程的PC端上,实现远程在线监测。</li></span></p>
                <p align="left"><span style="font-family: Wingdings;font-size: 14px">Ø&nbsp;高温监测 <li align="left">无线测温可以实现实时在线监测的作用，并且温度传感器直接接触高温部位，监测其温度变化趋势，并将信息实时传输到平台上,这样不仅节省人力物力，还能够准确的检查安全隐患的部位。</li></span></p>
                <p align="left"><span style="font-family: Wingdings;font-size: 14px">Ø&nbsp;防窒息监测 <li align="left">当装置处于密闭空间时,开启监测模式,对空间内的温度、一氧化碳含量、粉尘颗粒等参数进行监测,当发现影响人类正常呼吸的参数超标时,会实时将数据传输到平台并立即发出报警,降低窒息的风险。</li></span></p>                    
            </div>
        </div>
    </div>  
     <div class="two"><a href="product.html">
    <button class="btn_attention">返回</button></a></div>
    </div>
  </div>
  <!-- footer部分 -->
  <div class="footer">
    <div class="layui-container">
      <p class="footer-web">
        <a href="javascript:;">产品中心</a>
        <a href="javascript:;">方案定制</a>
        <a href="javascript:;">服务支持</a>
        <a href="javascript:;">关于我们</a>
        <a href="javascript:;">成功案例</a>
        <a href="javascript:;">联系我们</a>
      </p>
      <div class="layui-row footer-contact">
        <div class="layui-col-sm2 layui-col-lg1"><img src="static/img/erweima.jpg"></div>
        <div class="layui-col-sm10 layui-col-lg11">
          <div class="layui-row">
            <div class="layui-col-sm6 layui-col-md8 layui-col-lg9">
              <p class="contact-top"><i class="layui-icon layui-icon-cellphone"></i>&nbsp;13347839201/13965623252&nbsp;&nbsp;(9:00-18:00)</p>
             <p class="contact-bottom"><span class="right">公司分址&nbsp;&nbsp;马鞍山市&nbsp;&nbsp;花山区&nbsp;金色新天地3栋613</span></p>
            </div>
            <div class="layui-col-sm6 layui-col-md4 layui-col-lg3">
             <p class="contact-bottom"><i class="layui-icon layui-icon-home"></i>&nbsp;hcd.7401@163.com</span></p>
            <p class="contact-bottom"><span class="right">公司地址&nbsp;&nbsp;南京市&nbsp;&nbsp;建邺区&nbsp;云锦路58号</span></p>
              
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
<script src="layui/layui.js"></script>
<!--[if lt IE 9]>
  <script src="https://cdn.staticfile.org/html5shiv/r29/html5.min.js"></script>
  <script src="https://cdn.staticfile.org/respond.js/1.4.2/respond.min.js"></script>
<![endif]-->
<script>
  layui.config({
    base: 'static/js/'
  }).use('firm'); 
</script>

</body>

</html>