<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width,user-scalable=no,initial-scale=1.0,maximum-scale=1.0,minimum-scale=1.0">
  <title>又正科技-产品详情页</title>
  <link rel="stylesheet" href="layui/css/layui.css">
  <link rel="stylesheet" href="static/css/index.css">
</head>
<body>
  <!-- nav部分 -->
  <div class="nav">
    <div class="layui-container">
      <!-- 公司logo -->
      <div class="nav-logo">
        <a href="index.html">
          <img src="static/img/又正科技.png" alt="又正科技">
        </a>
      </div>
      <div class="nav-list">
        <button>
          <span></span><span></span><span></span>
        </button>
        <ul class="layui-nav" lay-filter="">
          <li class="layui-nav-item"><a href="index.html">首页</a></li>
          <li class="layui-nav-item layui-this"><a href="product.html">产品</a></li>
          <li class="layui-nav-item"><a href="news.html">动态</a></li>
          <li class="layui-nav-item"><a href="case.html">案例</a></li>
          <li class="layui-nav-item"><a href="about.html">关于</a></li>
        </ul>
      </div>
    </div>
  </div>
  <!-- main部分 -->
  <div class="main-newsdate">
    <div class="layui-container">
       <div class="pro-c aos-init aos-animate" aos="fade-up" aos-delay="100">
            <div class="pro-detop clear">
                <div class="pic">
                    <img src="static/img/路灯产品.jpg" class="cen">
                </div>
                <div class="font">
                    <div class="zi">
                        <div class="ti">智能路灯控制系统</div>
                        <div class="de">
                           实时监测与人工远程控制                        </div>
                    </div>

                </div>
            </div>
            <div class="pro-dezi">
                <div class="zia-box">
                    <a href="javascript:;" class="act">功能介绍</a>
                </div>
                <div class="font" style="display: block;">
                <p align="left"><span style="font-family: Wingdings;font-size: 14px">Ø&nbsp;路灯开启、关闭状态显示 <li align="left">路灯开启、关闭时系统根据实时数据进行状态的显示。当全部开启时,路灯的状态为绿色,关闭时为黑色,故障为红色,全面实施路灯可视化的显示。
</li></span></p>
                <p align="left"><span style="font-family: Wingdings;font-size: 14px">Ø&nbsp;供电异常报警<li align="left">供电异常时系统发出报警信息。
当电路断电、跳闸时系统根据设定的报警信息推送给技术人员。</li></span></p>
                <p align="left"><span style="font-family: Wingdings;font-size: 14px">Ø&nbsp;能耗计算<li align="left">通过在总分支回路安装电表，检测相应能耗。
准确测量电压、频率、电流、有功功率、视在功率、功率因数等电参数,做到最大化的节能效果。</li></span></p>
                <p align="left"><span style="font-family: Wingdings;font-size: 14px">Ø&nbsp;时段控制模式 <li align="left">设定路灯开启与关闭时间(6:30pm~4:30am)
路灯会在当前时间点亮起,当时间点不在此处时路灯将会关闭。</li></span></p>
                <p align="left"><span style="font-family: Wingdings;font-size: 14px">Ø&nbsp;节能控制模式 <li align="left">根据不同时段、不同路段车流天气等信息，控制路灯开启的数量，做到节能环保。如：5:00pm-6:pm期间，根据情况可以开启少量路灯。如：6:00pm-9:pm期间，根据情况可以采取全开。如：凌晨时候，可根据情况开启少量路灯。</li></span></p>
                <p align="left"><span style="font-family: Wingdings;font-size: 14px">Ø&nbsp;远程人工手动控制模式 <li align="left">远程人工控制模式，实现了可在线对各个路段的路灯进行精确的控制。实现了远程的参数配置,配电柜的实时运行状态及对配电柜所有的电气参数查看。</li></span></p>
                    
            </div>
        </div>
    </div>  
     <div class="two"><a href="product.html">
    <button class="btn_attention">返回</button></a></div>
    </div>
  </div>
  <!-- footer部分 -->
  <div class="footer">
    <div class="layui-container">
      <p class="footer-web">
        <a href="javascript:;">产品中心</a>
        <a href="javascript:;">方案定制</a>
        <a href="javascript:;">服务支持</a>
        <a href="javascript:;">关于我们</a>
        <a href="javascript:;">成功案例</a>
        <a href="javascript:;">联系我们</a>
      </p>
      <div class="layui-row footer-contact">
        <div class="layui-col-sm2 layui-col-lg1"><img src="static/img/erweima.jpg"></div>
        <div class="layui-col-sm10 layui-col-lg11">
          <div class="layui-row">
            <div class="layui-col-sm6 layui-col-md8 layui-col-lg9">
              <p class="contact-top"><i class="layui-icon layui-icon-cellphone"></i>&nbsp;13347839201/13965623252&nbsp;&nbsp;(9:00-18:00)</p>
             <p class="contact-bottom"><span class="right">公司分址&nbsp;&nbsp;马鞍山市&nbsp;&nbsp;花山区&nbsp;金色新天地3栋613</span></p>
            </div>
            <div class="layui-col-sm6 layui-col-md4 layui-col-lg3">
             <p class="contact-bottom"><i class="layui-icon layui-icon-home"></i>&nbsp;hcd.7401@163.com</span></p>
            <p class="contact-bottom"><span class="right">公司地址&nbsp;&nbsp;南京市&nbsp;&nbsp;建邺区&nbsp;云锦路58号</span></p>
              
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
<script src="layui/layui.js"></script>
<!--[if lt IE 9]>
  <script src="https://cdn.staticfile.org/html5shiv/r29/html5.min.js"></script>
  <script src="https://cdn.staticfile.org/respond.js/1.4.2/respond.min.js"></script>
<![endif]-->
<script>
  layui.config({
    base: 'static/js/'
  }).use('firm'); 
</script>

</body>

</html>