<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width,user-scalable=no,initial-scale=1.0,maximum-scale=1.0,minimum-scale=1.0">
  <title>南京又正科技有限公司</title>
  <link rel="stylesheet" href="layui/css/layui.css">
  <link rel="stylesheet" href="static/css/index.css">
</head>
<body>
  <!-- nav部分 -->
  <div class="nav">
    <div class="layui-container">
      <!-- 公司logo -->
      <div class="nav-logo">
        <a href="index.html">
          <img src="static/img/又正科技.png" alt="又正科技">
        </a>
      </div>
      <div class="nav-list">
        <button>
          <span></span><span></span><span></span>
        </button>
        <ul class="layui-nav" lay-filter="">
          <li class="layui-nav-item layui-this"><a href="index.html">首页</a></li>
          <li class="layui-nav-item"><a href="product.html">产品</a></li>
          <li class="layui-nav-item"><a href="news.html">动态</a></li>
          <li class="layui-nav-item"><a href="case.html">案例</a></li>
          <li class="layui-nav-item"><a href="about.html">关于</a></li>
        </ul>
      </div>
    </div>
  </div>
  <!-- banner部分 -->
  <div>
    <div class="layui-carousel" id="banner">
      <div carousel-item>
        <div>
          <img src="static/img/banner1.jpg">
          <div class="panel">
            <p class="title">南京又正科技</p>
            <p>放心的伙伴</p>
          </div>
        </div>
        <div>
          <img src="static/img/banner2.jpg">
          <div class="panel">
            <p class="title">南京又正科技</p>
            <p>可靠的伙伴</p>
          </div>
        </div>
      </div>
    </div>
  </div>
  <!-- main部分 -->
  <div class="main-product">
    <div class="layui-container">
      <p class="title">致力物联网平台的<span>设计、研发、应用</span></p>
      <div class="layui-row layui-col-space25">
        <div class="layui-col-sm6 layui-col-md3">
          <div class="content">
            <div><img src="static/img/dqyw.png"></div>
            <div>
              <p class="label">智能电气运维点检系统</p>
              <p>采集信息实时传输;
                 提供运维解决方案;
                 信息只能运算分析。</p>
            </div>
            <a href="javascript:;">查看产品 ></a>
          </div>
        </div>
        <div class="layui-col-sm6 layui-col-md3 ">
          <div class="content">
            <div><img src="static/img/sbjc.png"></div>
            <div>
              <p class="label">设备监测诊断系统</p>
              <p>传统监测与互联网+结合;异常位置定位+处理建议;随时随地查看设备运行信息。</p>
            </div>
            <a href="javascript:;">查看产品 ></a>
          </div>
        </div>
        <div class="layui-col-sm6 layui-col-md3 ">
          <div class="content">
            <div><img src="static/img/ld.png"></div>
            <div>
              <p class="label">智能路灯控制系统</p>
              <p>开启关闭状态显示;供电异常警报;根据设定的开关灯的时间进行控制。</p>
            </div>
            <a href="javascript:;">查看产品 ></a>
          </div>
        </div>
       
        <div class="layui-col-sm6 layui-col-md3 ">
          <div class="content">
            <div><img src="static/img/gf.png"></div>
            <div>
              <p class="label">智能光伏运维系统</p>
              <p>采集数据进行智能判断分析;平台具备发电量数据统计、分析展示、发电异常报警。</p>
            </div>
            <a href="javascript:;">查看产品 ></a>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="main-service">
    <div class="layui-container">
      <p class="title">又正科技解决方案从政府机关,高校,企事业园区的<span>一站式服务</span></p>
      <div class="layui-row layui-col-space25 layui-col-space80">
        <div class="layui-col-sm6">
          <div class="content">
            <div class="content-left"><img src="static/img/home_img1.jpg"></div>
            <div class="content-right">
              <p class="label">综合能源管理系统</p>
              <span></span>
              <p>通过对能源数据（包括统计数据和预测数据）周期性的集中与报告，将实际能源消耗与根据实际生产参数计算出的预期能源消耗进行比较。提高能源数据测量和计算的可靠性，能源管理机构据此进行计划、观测和控制，为节能技术项目的实施做出规划。</p>
            </div>
          </div>
        </div>
        <div class="layui-col-sm6">
          <div class="content">
            <div class="content-left"><img src="static/img/home_img2.jpg"></div>
            <div class="content-right">
              <p class="label">安全用电管理系统</p>
              <span></span>
              <p>安全用电系统是针对我国当前电气火灾事故频发而创新的一套电气火灾预警和管理系统。24小时在线,实时监测用电单位的电流、导线温度,如有异常,会通过短信,电话形式报警。企业负责人、电工和安全管理人员甚至可以直接通过APP了解电气线路工作状态。</p>
            </div>
          </div>
        </div>
        <div class="layui-col-sm6">
          <div class="content">
            <div class="content-left"><img src="static/img/home_img3.jpg"></div>
            <div class="content-right">
              <p class="label">工厂安全预警系统</p>
              <span></span>
              <p>安全与生产是企业发展的双翼,实现"以人为本,安全第一"的工作方针,利用企业现有管理资源,建立车间、厂、公司三级安全预警控制网络,利用高新技术实现对危险源的监控预警。</p>
            </div>
          </div>
        </div>
        <div class="layui-col-sm6">
          <div class="content">
            <div class="content-left"><img src="static/img/home_img4.jpg"></div>
            <div class="content-right">
              <p class="label">智能环保监测系统</p>
              <span></span>
              <p>对企业的排污数据和环境治理设备运行状况同时进行监测,综合分析两方面的数据,确保排污单位排污状况真实可靠,污染净化设施有效运行。</p>
            </div>
          </div>
        </div>
      </div>
      <div class="service-more"><a href="about.html">查看更多</a></div>
    </div>
  </div>
  <!-- footer部分 -->
  <div class="footer">
    <div class="layui-container">
      <p class="footer-web">
        <a href="javascript:;">产品中心</a>
        <a href="javascript:;">方案定制</a>
        <a href="javascript:;">服务支持</a>
        <a href="javascript:;">关于我们</a>
        <a href="javascript:;">成功案例</a>
        <a href="javascript:;">联系我们</a>
      </p>
      <div class="layui-row footer-contact">
        <div class="layui-col-sm2 layui-col-lg1"><img src="static/img/erweima.jpg"></div>
        <div class="layui-col-sm10 layui-col-lg11">
          <div class="layui-row">
            <div class="layui-col-sm6 layui-col-md8 layui-col-lg9">
              <p class="contact-top"><i class="layui-icon layui-icon-cellphone"></i>&nbsp;13347839201/13965623252&nbsp;&nbsp;(9:00-18:00)</p>
             <p class="contact-bottom"><span class="right">公司分址&nbsp;&nbsp;马鞍山市&nbsp;&nbsp;花山区&nbsp;金色新天地3栋613</span></p>
            </div>
            <div class="layui-col-sm6 layui-col-md4 layui-col-lg3">
             <p class="contact-bottom"><i class="layui-icon layui-icon-home"></i>&nbsp;hcd.7401@163.com</span></p>
            <p class="contact-bottom"><span class="right">公司地址&nbsp;&nbsp;南京市&nbsp;&nbsp;建邺区&nbsp;云锦路58号</span></p>
              
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
<script src="layui/layui.js"></script>
<!--[if lt IE 9]>
  <script src="https://cdn.staticfile.org/html5shiv/r29/html5.min.js"></script>
  <script src="https://cdn.staticfile.org/respond.js/1.4.2/respond.min.js"></script>
<![endif]-->
<script>
  layui.config({
    base: 'static/js/'
  }).use('firm'); 
</script>
</body>
</html>