<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width,user-scalable=no,initial-scale=1.0,maximum-scale=1.0,minimum-scale=1.0">
  <title>南京又正科技有限公司</title>
  <link rel="stylesheet" href="layui/css/layui.css">
  <link rel="stylesheet" href="static/css/index.css">
</head>
<body>
  <!-- nav部分 -->
  <div class="nav">
    <div class="layui-container">
      <!-- 公司logo -->
      <div class="nav-logo">
        <a href="index.html">
          <img src="static/img/又正科技.png" alt="又正科技">
        </a>
      </div>
      <div class="nav-list">
        <button>
          <span></span><span></span><span></span>
        </button>
        <ul class="layui-nav" lay-filter="">
          <li class="layui-nav-item"><a href="index.html">首页</a></li>
          <li class="layui-nav-item"><a href="product.html">产品</a></li>
          <li class="layui-nav-item layui-this"><a href="news.html">动态</a></li>
          <li class="layui-nav-item"><a href="case.html">案例</a></li>
          <li class="layui-nav-item"><a href="about.html">关于</a></li>
        </ul>
      </div>
    </div>
  </div>
  <!-- banner部分 -->
  <div class="banner news">
    <div class="title">
      <p>实时新闻</p>
      <p class="en">Real-time News</p>
    </div>
  </div>
  <!-- main -->
  <div class="main-news">
    <div class="layui-container">
      <div class="layui-row layui-col-space20">
        <div class="layui-col-lg6 content">
          <div>
            <div class="news-img"><a href="newsDetail.html"><img src="static/img/实时数据监测.jpg"></a></div><div class="news-panel">
              <strong><a href="newsDetail.html">实时数据监测</a></strong>
              <p class="detail"><span>随着生产生活自动化程度的提高,对电力等能源供应的可靠性提出了越来越高的要求,而发电厂本身也向着电压等级提高。</span><a href="newsDetail.html">[详细]</a></p>
              <p class="read-push">阅读 <span>120</span>&nbsp;&nbsp;&nbsp;&nbsp;发布时间：<span>2018-06-21</span></p>
            </div>
          </div>
        </div>
        <div class="layui-col-lg6 content">
          <div>
            <div class="news-img"><a href="newsDetail1.html"><img src="static/img/展现方式.jpg"></a></div><div class="news-panel">
              <strong><a href="newsDetail1.html">丰富的展现方式</a></strong>
              <p class="detail"><span>许多物联网项目的实施就是这样，整个项目做完用户很难感知得到你的工作，传感器能感知地球，然而甲方只能感知你是否加了班，等乙方辛辛苦苦将整个方案部署完毕的时候，总觉得有点东西说不清楚，缺了点什么。</span><a href="newsDetail1.html">[详细]</a></p>
              <p class="read-push">阅读 <span>835</span>&nbsp;&nbsp;&nbsp;&nbsp;发布时间：<span>2018-06-21</span></p>
            </div>
          </div>
        </div>
        <div class="layui-col-lg6 content">
          <div>
            <div class="news-img"><a href="newsDetail.html"><img src="static/img/数据分析.jpg"></a></div><div class="news-panel">
              <strong><a href="newsDetail2.html">强大的数据分析</a></strong>
              <p class="detail"><span>大数据是一个新概念，大多数人知道大数据是用来处理、分析用户的行为。在瞬息万变的世界中，组织很难赶上不断涌现的新概念。但人们需要区分哪些技术和概念是有用的，哪些只是一种炒作。</span><a href="newsDetail2.html">[详细]</a></p>
              <p class="read-push">阅读 <span>112</span>&nbsp;&nbsp;&nbsp;&nbsp;发布时间：<span>2018-06-21</span></p>
            </div>
          </div>
        </div>
        <div class="layui-col-lg6 content">
          <div>
            <div class="news-img"><a href="newsDetail.html"><img src="static/img/报警机制.jpg"></a></div><div class="news-panel">
              <strong><a href="newsDetail3.html">完善的报警机制</a></strong>
              <p class="detail"><span>消防的烟感，现在的烟感都是局域性的。比如一个小区，一栋楼，或者一个屋子的报警。火警并不能第一时间到达。试想一下如果这头烟雾报警器报警，火警就已经出动了，这将减少多少悲剧，减少多少的损失。</span><a href="newsDetail3.html">[详细]</a></p>
              <p class="read-push">阅读 <span>3131</span>&nbsp;&nbsp;&nbsp;&nbsp;发布时间：<span>2018-06-20</span></p>
            </div>
          </div>
        </div>
        <div class="layui-col-lg6 content">
          <div>
            <div class="news-img"><a href="newsDetail.html"><img src="static/img/联动.jpg"></a></div><div class="news-panel">
              <strong><a href="newsDetail4.html">灵活的联动控制</a></strong>
              <p class="detail"><span>在现今生产生活广泛使用的物联网系统中,尤其是在以监控、报警、目标识别和跟踪等为主要功能的物联网系统中,多数传感设备都是独立工作、高度自治的,它们之间的联系仅限于通过互联网交换数据与信息。</span><a href="newsDetail4.html">[详细]</a></p>
              <p class="read-push">阅读 <span>112</span>&nbsp;&nbsp;&nbsp;&nbsp;发布时间：<span>2018-06-21</span></p>
            </div>
          </div>
        </div>
        <div class="layui-col-lg6 content">
          <div>
            <div class="news-img"><a href="newsDetail.html"><img src="static/img/系统管理.jpg"></a></div><div class="news-panel">
              <strong><a href="newsDetail5.html">先进的系统管理</a></strong>
              <p class="detail"><span>如环保系统,他会对大气、水、噪声、固体废弃物、土壤及农作物方面的监测,其主要功能:专题的监测点位图的显示、点位查询、区域查询、信息查询、全区环境分布、全区或个别点环境平均状况随时间的变化情况等。</span><a href="newsDetail5.html">[详细]</a></p>
              <p class="read-push">阅读 <span>3874</span>&nbsp;&nbsp;&nbsp;&nbsp;发布时间：<span>2018-06-20</span></p>
            </div>
          </div>
        </div>
        <div class="layui-col-lg6 content">
          <div>
            <div class="news-img"><a href="newsDetail.html"><img src="static/img/图标展示.jpg"></a></div><div class="news-panel">
              <strong><a href="newsDetail6.html">多维的图表展示</a></strong>
              <p class="detail"><span>随着时代的发展，人们对于事物的处理方式也发生了改变，人们日常生活中的交流方式也发生了改变，尤其是人们对于图像的接受能力远远大于文字，很多时候，几十上百字的归纳说明还没有一张图给人带来的直观。</span><a href="newsDetail6.html">[详细]</a></p>
              <p class="read-push">阅读 <span>3393</span>&nbsp;&nbsp;&nbsp;&nbsp;发布时间：<span>2018-06-20</span></p>
            </div>
          </div>
        </div>
        <div class="layui-col-lg6 content">
          <div>
            <div class="news-img"><a href="newsDetail.html"><img src="static/img/报表统计.jpg"></a></div><div class="news-panel">
              <strong><a href="newsDetail7.html">专业的报表统计</a></strong>
              <p class="detail"><span>通过统计方法，对设备的历史运行数据进行统计分析。可以按不同维度分析出不同报告。然后以图表或者大屏方式展现在管理员面前。管理员可以快速直观的了解到整个物联网设备运行状况。</span><a href="newsDetail7.html">[详细]</a></p>
              <p class="read-push">阅读 <span>4087</span>&nbsp;&nbsp;&nbsp;&nbsp;发布时间：<span>2018-06-20</span></p>
            </div>
          </div>
        </div>
        <div class="layui-col-lg6 content">
          <div>
            <div class="news-img"><a href="newsDetail.html"><img src="static/img/在线诊断.jpg"></a></div><div class="news-panel">
              <strong><a href="newsDetail8.html">智能在线诊断</a></strong>
              <p class="detail"><span>随着科技的发展，人工智能的技术也是日新月异！人工智能的终极意义是造福于人，充分解放劳动力。
“人机耦合是未来人工智能的发展趋势，有了人工智能的加入，大大提高工作效率；机器服务于人，创造更高价值。</span><a href="newsDetail8.html">[详细]</a></p>
              <p class="read-push">阅读 <span>120</span>&nbsp;&nbsp;&nbsp;&nbsp;发布时间：<span>2018-06-21</span></p>
            </div>
          </div>
        </div>
        <div class="layui-col-lg6 content">
          <div>
            <div class="news-img"><a href="newsDetail.html"><img src="static/img/异常位置定位.jpg"></a></div><div class="news-panel">
              <strong><a href="newsDetail9.html">异常位置定位</a></strong>
              <p class="detail"><span>传统的物联网异常节点定位方法采用模糊边缘覆盖方法,以节点之间的互信息量作为信息素引导,当节点规模较大和干扰较强时,定位准确度不高。</span><a href="newsDetail9.html">[详细]</a></p>
              <p class="read-push">阅读 <span>835</span>&nbsp;&nbsp;&nbsp;&nbsp;发布时间：<span>2018-06-21</span></p>
            </div>
          </div>
        </div>
        <div class="layui-col-lg6 content">
          <div>
            <div class="news-img"><a href="newsDetail.html"><img src="static/img/烟气排放监测.png"></a></div><div class="news-panel">
              <strong><a href="newsDetail10.html">烟气排放在线监测</a></strong>
              <p class="detail"><span>近年来，环境问题已经成为人类关注的焦点，越来越多的技术应用在环境保护中。随着网络技术、嵌入式技术和计算机技术的不断发展，如何将各种先进技术应用在工业领域，使得系统功能更强大、性能更稳定越来越令人瞩目。</span><a href="newsDetail10.html">[详细]</a></p>
              <p class="read-push">阅读 <span>112</span>&nbsp;&nbsp;&nbsp;&nbsp;发布时间：<span>2018-06-21</span></p>
            </div>
          </div>
        </div>
        <div class="layui-col-lg6 content">
          <div>
            <div class="news-img"><a href="newsDetail.html"><img src="static/img/水质监测.jpg"></a></div><div class="news-panel">
              <strong><a href="newsDetail11.html">水质在线监测</a></strong>
              <p class="detail"><span>是一个以在线分析仪表和实验室研究需求为服务目标，以提供具有代表性、及时性和可靠性的样品信息为核心任务，运用自动控制技术、计算机技术并配以专业软件。</span><a href="newsDetail11.html">[详细]</a></p>
              <p class="read-push">阅读 <span>3131</span>&nbsp;&nbsp;&nbsp;&nbsp;发布时间：<span>2018-06-20</span></p>
            </div>
          </div>
        </div>
        <div class="layui-col-lg6 content">
          <div>
            <div class="news-img"><a href="newsDetail.html"><img src="static/img/电流.png"></a></div><div class="news-panel">
              <strong><a href="newsDetail12.html">剩余电流、电压监测</a></strong>
              <p class="detail"><span>剩余电流,通俗讲当用电侧发生了事故,电流从带电体通过人体流到大地,使主电路进出线中的电流I相和I中的大小不相等,此时电流的瞬时矢量合成有效值称为剩余电流，俗称漏电。</span><a href="newsDetail12.html">[详细]</a></p>
              <p class="read-push">阅读 <span>112</span>&nbsp;&nbsp;&nbsp;&nbsp;发布时间：<span>2018-06-21</span></p>
            </div>
          </div>
        </div>
        <div class="layui-col-lg6 content">
          <div>
            <div class="news-img"><a href="newsDetail.html"><img src="static/img/有害.jpg"></a></div><div class="news-panel">
              <strong><a href="newsDetail13.html">有毒有害气体监测</a></strong>
              <p class="detail"><span>许多工业生产过程都存在刺激性气体，如电焊、电镀、冶炼、化工、石油等行业。这些气体多具有腐蚀性，经呼吸道进入人体可造成急性中毒。刺激性气体对机体毒作用的共同特点，对呼吸道粘膜及皮肤都具有不同程度的刺激性。</span><a href="newsDetail13.html">[详细]</a></p>
              <p class="read-push">阅读 <span>3874</span>&nbsp;&nbsp;&nbsp;&nbsp;发布时间：<span>2018-06-20</span></p>
            </div>
          </div>
        </div>
        <div class="layui-col-lg6 content">
          <div>
            <div class="news-img"><a href="newsDetail.html"><img src="static/img/压力.jpg"></a></div><div class="news-panel">
              <strong><a href="newsDetail14.html">压力监测</a></strong>
              <p class="detail"><span>随着工业化的发展，管道在我们日常生活中随处可见，供排水管道，消防管道，自来水管道，供热管道，工业生产的特殊管道系统等等，对管道压力的监测需求也越来越多，准确监测管道压力，并在异常时发出告警。</span><a href="newsDetail14.html">[详细]</a></p>
              <p class="read-push">阅读 <span>3393</span>&nbsp;&nbsp;&nbsp;&nbsp;发布时间：<span>2018-06-20</span></p>
            </div>
          </div>
        </div>
        <div class="layui-col-lg6 content">
          <div>
            <div class="news-img"><a href="newsDetail.html"><img src="static/img/窒息.jpg"></a></div><div class="news-panel">
              <strong><a href="newsDetail15.html">防窒息监测</a></strong>
              <p class="detail"><span>能引起组织供氧不足发生窒息的无毒微毒气体和惰性气体。在高浓度下使空气氧分压降低，致使机体动脉血血红蛋白氧饱和度和动脉血氧分压降低，导致组织供氧不足。</span><a href="newsDetail15.html">[详细]</a></p>
              <p class="read-push">阅读 <span>4087</span>&nbsp;&nbsp;&nbsp;&nbsp;发布时间：<span>2018-06-20</span></p>
            </div>
          </div>
        </div>
      </div>
      <div id="newsPage"></div>
    </div>
  </div>
  <!-- footer部分 -->
   <div class="footer">
    <div class="layui-container">
      <p class="footer-web">
        <a href="javascript:;">产品中心</a>
        <a href="javascript:;">方案定制</a>
        <a href="javascript:;">服务支持</a>
        <a href="javascript:;">关于我们</a>
        <a href="javascript:;">成功案例</a>
        <a href="javascript:;">联系我们</a>
      </p>
      <div class="layui-row footer-contact">
        <div class="layui-col-sm2 layui-col-lg1"><img src="static/img/erweima.jpg"></div>
        <div class="layui-col-sm10 layui-col-lg11">
          <div class="layui-row">
            <div class="layui-col-sm6 layui-col-md8 layui-col-lg9">
              <p class="contact-top"><i class="layui-icon layui-icon-cellphone"></i>&nbsp;13347839201/13965623252&nbsp;&nbsp;(9:00-18:00)</p>
             <p class="contact-bottom"><span class="right">公司分址&nbsp;&nbsp;马鞍山市&nbsp;&nbsp;花山区&nbsp;金色新天地3栋613</span></p>
            </div>
            <div class="layui-col-sm6 layui-col-md4 layui-col-lg3">
             <p class="contact-bottom"><i class="layui-icon layui-icon-home"></i>&nbsp;hcd.7401@163.com</span></p>
            <p class="contact-bottom"><span class="right">公司地址&nbsp;&nbsp;南京市&nbsp;&nbsp;建邺区&nbsp;云锦路58号</span></p>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
<script src="layui/layui.js"></script>
<!--[if lt IE 9]>
  <script src="https://cdn.staticfile.org/html5shiv/r29/html5.min.js"></script>
  <script src="https://cdn.staticfile.org/respond.js/1.4.2/respond.min.js"></script>
<![endif]-->
<script>
  layui.config({
    base: 'static/js/'
  }).use('firm'); 
</script>

</body>
</html>