<!DOCTYPE html>
<html lang="en" th="">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width,user-scalable=no,initial-scale=1.0,maximum-scale=1.0,minimum-scale=1.0">
    <title>南京又正科技有限公司</title>
    <link rel="stylesheet" href="layui/css/layui.css">
    <link rel="stylesheet" href="static/css/index.css">
</head>
<body>
<!-- nav部分 -->
<div class="nav">
    <div class="layui-container">
        <!-- 公司logo -->
        <div class="nav-logo">
            <a href="index.html">
                <img src="static/img/又正科技.png" alt="又正科技">
            </a>
        </div>
        <div class="nav-list">
            <button>
                <span></span><span></span><span></span>
            </button>
            <ul class="layui-nav" lay-filter="">
                <li class="layui-nav-item"><a href="index.html">首页</a></li>
                <li class="layui-nav-item layui-this"><a href="product.html">产品</a></li>
                <li class="layui-nav-item"><a href="news.html">动态</a></li>
                <li class="layui-nav-item"><a href="case.html">案例</a></li>
                <li class="layui-nav-item"><a href="about.html">关于</a></li>
            </ul>
        </div>
    </div>
</div>
<!-- banner部分 -->
<div class="banner product">
    <div class="title">
        <p>产品展示</p>
        <p class="en">Product Display</p>
    </div>
</div>

<div class="content layui-row">
    <div class="layui-col-xs12 layui-col-sm6 layui-col-md7 layui-col-lg6 content-img"><img src="static/img/诊断.jpg">
    </div>
    <div class="layui-col-xs12 layui-col-sm6 layui-col-md5 layui-col-lg6 right">
        <p class="label">设备监测诊断系统</p>
        <p class="detail">传统监测与互联网+结合;异常位置定位+处理建议,及时检修处理;随时随地查看设备运行信息;异常预警,超限预警,报警推送;设备振动、温度等信息实时采集显示。</p>
        <div><a href="distil1.html">查看产品 ></a></div>
    </div>
</div>
<!-- main部分 -->
  <div class="main product">
      <div class="layui-container" id="product">
<!--        <div class="content layui-row">-->
<!--          <div class="layui-col-xs12 layui-col-sm6 layui-col-md7 layui-col-lg6 content-img"><img src="static/img/电气.jpg"></div>-->
<!--          <div class="layui-col-xs12 layui-col-sm6 layui-col-md5 layui-col-lg6 right">-->
<!--            <p class="label">智能电气运维点检系统</p>-->
<!--            <p class="detail">为用户提供电气运维解决方案;-->
<!--              将采集信息实时传输到云平台;-->
<!--              智能运维系统互联网+应用模式;-->
<!--              平台对信息进行智能运算分析。</p>-->
<!--            <div><a href="distil.html">查看产品 ></a></div>-->
<!--          </div>-->
<!--        </div>-->
<!--      <div class="content layui-row">-->
<!--        <div class="layui-col-xs12 layui-col-sm6 layui-col-md7 layui-col-lg6 content-img"><img src="static/img/诊断.jpg"></div>-->
<!--        <div class="layui-col-xs12 layui-col-sm6 layui-col-md5 layui-col-lg6 right">-->
<!--          <p class="label">设备监测诊断系统</p>-->
<!--          <p class="detail">传统监测与互联网+结合;异常位置定位+处理建议,及时检修处理;随时随地查看设备运行信息;异常预警,超限预警,报警推送;设备振动、温度等信息实时采集显示。</p>-->
<!--          <div><a href="distil1.html">查看产品 ></a></div>-->
<!--        </div>-->
<!--      </div>-->
<!--      <div class="content layui-row">-->
<!--        <div class="layui-col-xs12 layui-col-sm6 layui-col-md7 layui-col-lg6 content-img"><img src="static/img/路灯.jpg"></div>-->
<!--        <div class="layui-col-xs12 layui-col-sm6 layui-col-md5 layui-col-lg6 right">-->
<!--          <p class="label">智能路灯控制系统</p>-->
<!--          <p class="detail">路灯开启关闭状态显示;供电异常报警;能耗计量;时段控制模式;节能控制模式;远程人工手动控制模式。</p>-->
<!--          <div><a href="distil2.html">查看产品 ></a></div>-->
<!--        </div>-->
<!--      </div>-->
<!--      <div class="content layui-row">-->
<!--        <div class="layui-col-xs12 layui-col-sm6 layui-col-md7 layui-col-lg6 content-img"><img src="static/img/电.jpg"></div>-->
<!--        <div class="layui-col-xs12 layui-col-sm6 layui-col-md5 layui-col-lg6 right">-->
<!--          <p class="label">安全用电管理系统</p>-->
<!--          <p class="detail">剩余电流监测;温度监测;烟雾告警;趋势曲线;异常预警;超限预警;报警推送;报警处理及跟踪。</p>-->
<!--          <div><a href="distil3.html">查看产品 ></a></div>-->
<!--        </div>-->
<!--      </div>-->
<!--      <div class="content layui-row">-->
<!--        <div class="layui-col-xs12 layui-col-sm6 layui-col-md7 layui-col-lg6 content-img"><img src="static/img/工厂.jpg"></div>-->
<!--        <div class="layui-col-xs12 layui-col-sm6 layui-col-md5 layui-col-lg6 right">-->
<!--          <p class="label">工厂安全预警系统</p>-->
<!--          <p class="detail">有害有毒气体监测;可燃气体监测;压力监测;高温监测;防窒息监测。</p>-->
<!--          <div><a href="distil4.html">查看产品 ></a></div>-->
<!--        </div>-->
<!--      </div>-->
<!--      <div class="content layui-row">-->
<!--        <div class="layui-col-xs12 layui-col-sm6 layui-col-md7 layui-col-lg6 content-img"><img src="static/img/环保.jpg"></div>-->
<!--        <div class="layui-col-xs12 layui-col-sm6 layui-col-md5 layui-col-lg6 right">-->
<!--          <p class="label">智能环保监测系统</p>-->
<!--          <p class="detail">水质在线监测;烟气排放在线监测;挥发性有机物(VOCS)气体浓度监测;环保处理系统运行状态及能耗监测。</p>-->
<!--          <div><a href="distil5.html">查看产品 ></a></div>-->
<!--        </div>-->
<!--      </div>-->
<!--      <div class="content layui-row">-->
<!--        <div class="layui-col-xs12 layui-col-sm6 layui-col-md7 layui-col-lg6 content-img"><img src="static/img/能源.jpg"></div>-->
<!--        <div class="layui-col-xs12 layui-col-sm6 layui-col-md5 layui-col-lg6 right">-->
<!--          <p class="label">综合能源管理系统</p>-->
<!--          <p class="detail">能耗统计;实时监测;能耗趋势曲线;能耗分析;自动抄表。</p>-->
<!--          <div><a href="distil6.html">查看产品 ></a></div>-->
<!--        </div>-->
<!--      </div>-->
<!--      <div class="content layui-row">-->
<!--        <div class="layui-col-xs12 layui-col-sm6 layui-col-md7 layui-col-lg6 content-img"><img src="static/img/光伏.jpg"></div>-->
<!--        <div class="layui-col-xs12 layui-col-sm6 layui-col-md5 layui-col-lg6 right">-->
<!--          <p class="label">智能光伏运维系统</p>-->
<!--          <p class="detail">将光伏汇流箱及并网点发电量、电流、电压等信号实时传输到平台;平台对采集的数据进行智能判断分析;平台具备发电量数据统计、分析展示、发电异常报警及定位等功能。</p>-->
<!--          <div><a href="distil7.html">查看产品 ></a></div>-->
<!--        </div>-->
<!--      </div>      -->
    </div>
</div>
<!-- footer部分 -->
<div class="footer">
    <div class="layui-container">
        <p class="footer-web">
            <a href="javascript:;">产品中心</a>
            <a href="javascript:;">方案定制</a>
            <a href="javascript:;">服务支持</a>
            <a href="javascript:;">关于我们</a>
            <a href="javascript:;">成功案例</a>
            <a href="javascript:;">联系我们</a>
        </p>
        <div class="layui-row footer-contact">
            <div class="layui-col-sm2 layui-col-lg1"><img src="static/img/erweima.jpg"></div>
            <div class="layui-col-sm10 layui-col-lg11">
                <div class="layui-row">
                    <div class="layui-col-sm6 layui-col-md8 layui-col-lg9">
                        <p class="contact-top"><i class="layui-icon layui-icon-cellphone"></i>&nbsp;13347839201/13965623252&nbsp;&nbsp;(9:00-18:00)
                        </p>
                        <p class="contact-bottom"><span class="right">公司分址&nbsp;&nbsp;马鞍山市&nbsp;&nbsp;花山区&nbsp;金色新天地3栋613</span>
                        </p>
                    </div>
                    <div class="layui-col-sm6 layui-col-md4 layui-col-lg3">
                        <p class="contact-bottom"><i
                                class="layui-icon layui-icon-home"></i>&nbsp;hcd.7401@163.com</span></p>
                        <p class="contact-bottom"><span
                                class="right">公司地址&nbsp;&nbsp;南京市&nbsp;&nbsp;建邺区&nbsp;云锦路58号</span></p>

                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<script src="layui/layui.js"></script>
<script src="https://cdn.staticfile.org/jquery/1.10.2/jquery.min.js"/>
<script>
    $.({
        $.ajax({
            type: "GET",
            contentType: "application/json",
            url: "/res/getData",
            success: function (result) {
                let data = result.data;
              let product = $("#product");
              for (let i = 0;i <= data.length;i++){
                  product.append("<div class='content layui-row'><div class='layui-col-xs12 layui-col-sm6 layui-col-md7 layui-col-lg6 content-img'><img src='"+data.item[i].imgPath+"'>\n" +
                          "                          </div><div class='layui-col-xs12 layui-col-sm6 layui-col-md5 layui-col-lg6 right'>\n" +
                          "                          <p class='label'>设备监测诊断系统</p><p class='detail'>传统监测与互联网+结合;异常位置定位+处理建议,及时检修处理;随时随地查看设备运行信息;异常预警,超限预警,报警推送;设备振动、温度等信息实时采集显示。</p>\n" +
                          "                         <div><a href='distil1.html'>查看产品 ></a></div>\n" +
                          "                          </div></div>")

            }
                product.reload();
            }
        })
    });
    layui.config({
      base: 'static/js/'
    }).use('firm');
</script>

</body>
</html>